<section id="tarifas" class="wow fadeIn">
  <div class="overlay"></div>
  <div class="tarjetas">

    <!-- Tarifa 1 -->
    <div class="tarjeta wow fadeIn">
      <div class="header">
        <span class="precio">
          <span class="desde">Desde</span>
          26€
          <span class="iva">+ IVA</span>
        </span>
        <h4>Tarifa básica</h4>
        <img class="ondulaciones" src="assets/img/waves.svg" alt="">
      </div>
        <div class="body">
          <p style="margin: 0">Asesoría fisca y contable para autónomos del sector sanitario*</p>
        </div>
        <div class="footer">
          <a class="saber-mas" data-toggle="modal" data-target="#tarifa-basica">Saber más</a>
          <span class="small">* Profesionales autónomos sin obligación de IVA</span>
        </div>
    </div>
      
    <!-- Tarifa 2 -->
    <div class="tarjeta wow fadeIn" data-wow-delay=".25s">
      <div class="header">
        <span class="precio">
          <span class="desde">Desde</span>
          40€
          <span class="iva">+ IVA</span>
        </span>
        <h4>Tarifa premium</h4>
        <img class="ondulaciones" src="assets/img/waves.svg" alt="">
      </div>
      <div class="body">
        <p style="margin: 0">Asesoría fisca y contable para autónomos del sector sanitario*</p>
      </div>
      <div class="footer">
        <a class="saber-mas" data-toggle="modal" data-target="#tarifa-premium">Saber más</a>
        <span class="small">* Profesionales autónomos con o sin obligación de IVA</span>
      </div>
    </div>

    <!-- Tarifa 3 -->
    <div class="tarjeta wow fadeIn" data-wow-delay=".5s">
      <div class="header">
        <span class="precio">
          <span class="desde">Desde</span>
          54€
          <span class="iva">+ IVA</span>
        </span>
        <h4>Tarifa Básica Sociedades</h4>
        <img class="ondulaciones" src="assets/img/waves.svg" alt="">
      </div>
      <div class="body">
        <p style="margin: 0">Asesoría fisca y contable para sociedades del sector sanitario*</p>
      </div>
      <div class="footer">
        <a class="saber-mas" data-toggle="modal" data-target="#tarifa-basica-sociedades">Saber más</a>
        <span class="small">* Sociedades sin obligación de IVA</span>
      </div>
    </div>

    <!-- Tarifa 4 -->
    <div class="tarjeta wow fadeIn" data-wow-delay=".75s">
      <div class="header">
        <span class="precio">
          <span class="desde">Desde</span>
          73€
          <span class="iva">+ IVA</span>
        </span>
        <h4>Tarifa Premium Sociedades</h4>
        <img class="ondulaciones" src="assets/img/waves.svg" alt="">
      </div>
      <div class="body">
        <p style="margin: 0">Asesoría fisca y contable para sociedades del sector sanitario*</p>
      </div>
      <div class="footer">
        <a class="saber-mas" data-toggle="modal" data-target="#tarifa-premium-sociedades">Saber más</a>
        <span class="small">* Sociedades con o sin obligación de IVA</span>
      </div>
    </div>
  </div>
</section>