<section id="tarifas" class="wow fadeIn">
  <div class="overlay"></div>
  <div class="tarjetas">
    <div class="tarjeta wow fadeIn" *ngFor="let tarifa of tarifas" [attr.data-wow-delay]="tarifa.delay">
      <div class="header">
        <span class="precio">
          <span class="desde">Desde</span>
          {{ tarifa.precio }}€
          <span class="iva">+ IVA</span>
        </span>
        <h4>{{ tarifa.titulo }}</h4>
        <img class="ondulaciones" src="assets/img/waves.svg" alt="">
      </div>
        <div class="body">
          <p>{{ tarifa.texto }}</p>
        </div>
        <div class="footer">
          <a class="saber-mas" data-toggle="modal" [attr.data-target]="tarifa.modal">Saber más</a>
          <span class="small">{{ tarifa.aclaracion }}</span>
        </div>
    </div>
  </div>
</section>