<section id="about" class="wow fadeIn">
  <div class="container">
    <p>
      <strong>Aprosan</strong> surge como una <strong>asesoría</strong> especializada en el sector de los <strong>profesionales sanitarios</strong>. Sabemos que la especialización es lo que más demandan nuestros clientes en la actualidad, y estos esperan que sus asesores entiendan y conozcan el sector profesional donde se mueven. Ofrecemos un precio competitivo, un servicio muy completo, con una atención profesional y cercana. También presentamos los mismos servicios a profesionales o empresas de otros sectores.
    </p>
  </div>
</section>