<section id="header" class="wow fadeIn">
  <div class="fila">
    <div class="columna"></div>
    <div class="columna heading">
      <h1><img class="logo" src="assets/img/logo.png" alt="Aprosan"></h1>
      <h2><strong>Asesoría online</strong> integral con la mejor oferta y asesoramiento fiscal, laboral y contable para <strong>profesionales del sector sanitario</strong></h2>
      <a class="smooth-scrolling" href="#about">
        <i class="flecha fa fa-angle-down" aria-hidden="true"></i>
      </a>
    </div>
    <div class="columna"></div>
  </div>
</section>