<section id="servicios" class="wow fadeIn">
  <div class="container">
    <h3>Servicios</h3>
    <p>
      En <strong>Aprosan</strong> contamos con una amplia experiencia y conocimiento en la gestión tributaria, contable y laboral nos permite dar un servicio profesional y personalizado, bien asesorando a su departamento administrativo o bien realizando directamente todas las gestiones administrativas que necesite. Disponemos de herramientas para facilitar tu trabajo y optimizar el ahorro de costes.
    </p>
    <div class="items wow fadeIn">
      <div class="item wow fadeIn" *ngFor="let servicio of servicios" [attr.data-wow-delay]="servicio.delay">
        <i class="icono fa fa-{{ servicio.icono }}" aria-hidden="true"></i>
        <span class="texto" [innerHtml]="servicio.texto"></span>
      </div>
    </div>
  </div>
</section>