<section id="servicios" class="wow fadeIn">
  <div class="container">
    <h3>Servicios</h3>
    <p>
      En <strong>Aprosan</strong> contamos con una amplia experiencia y conocimiento en la gestión tributaria, contable y laboral nos permite dar un servicio profesional y personalizado, bien asesorando a su departamento administrativo o bien realizando directamente todas las gestiones administrativas que necesite. Disponemos de herramientas para facilitar tu trabajo y optimizar el ahorro de costes.
    </p>
    <div class="items wow fadeIn">
      <div class="item">
        <i class="icono fa fa-calendar-check-o" aria-hidden="true"></i>
        <span class="texto">Contabilidad<br>de tus facturas</span>
      </div>
      <div class="item wow fadeIn" data-wow-delay=".25s">
        <i class="icono fa fa-university" aria-hidden="true"></i>
        <span class="texto">Presentación de<br>modelos a Hacienda y SS</span>
      </div>
      <div class="item wow fadeIn" data-wow-delay=".5s">
        <i class="icono fa fa-balance-scale" aria-hidden="true"></i>
        <span class="texto">Declaración<br>de la renta</span>
      </div>
      <div class="item wow fadeIn" data-wow-delay=".75s">
        <i class="icono fa fa-coffee" aria-hidden="true"></i>
        <span class="texto">Asesoramiento<br>personalizado</span>
      </div>
    </div>
  </div>
</section>