<aside class="callout tipo1">
  <div class="overlay"></div>
  <div class="container">
    <span class="texto wow fadeIn">
      <i class="comillas fa fa-quote-left" aria-hidden="true"></i>
      ¿Te imaginas tu negocio sin papeles? La digitalización se impone a pasos agigantados en todos los ámbitos de nuestra vida cotidiana y consecuentemente en los negocios. Libera tiempo para tu negocio, enfócate en lo que te haga ganar dinero, de lo demás nos encargamos nosotros.
    </span>
  </div>
</aside>