<section id="ventajas" class="wow fadeIn">
  <div class="fila">
    <div class="columna heading">
      <h3>¿Qué ventajas<br>ofrece una asesoría online?</h3>
      <span class="aclaracion">Servicio a toda España, a excepción de Canarias y País Vasco</span>
      <div class="overlay"></div>
    </div>
    <div class="columna">
      <div class="items">
        <span class="item" *ngFor="let ventaja of ventajas">
          <i class="icono fa fa-{{ ventaja.icono }}" aria-hidden="true"></i>
          <span class="titulo">{{ ventaja.titulo }}</span>
          <span class="explicacion">{{ ventaja.texto }}</span>
        </span>
      </div>
    </div>
  </div>
</section>