<section id="ventajas" class="wow fadeIn">
  <div class="fila">
    <div class="columna heading">
      <h3>¿Qué ventajas<br>ofrece una asesoría online?</h3>
      <span class="aclaracion">Servicio a toda España, a excepción de Canarias y País Vasco</span>
      <div class="overlay"></div>
    </div>
    <div class="columna">
      <div class="items">
        <div>
          <span class="item">
            <i class="icono fa fa-cube" aria-hidden="true"></i>
            <span class="titulo">Ahorro de espacio</span>
            <span class="explicacion">La documentación no ocupa un espacio físico innecesario al estar digitalizada, almacenado de forma segura en nuestra base de datos</span>
          </span>
          <span class="item">
            <i class="icono fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="titulo">Mejores precios</span>
            <span class="explicacion">Al ser una asesoría online nos ahorramos gastos de mantenimiento en espacios físicos, y tú lo notas en tu bolsillo</span>
          </span>
        </div>
        <div>
          <span class="item">
            <i class="icono fa fa-clock-o" aria-hidden="true"></i>
            <span class="titulo">Ahorro de tiempo</span>
            <span class="explicacion">Realiza el trabajo desde donde quieras, sin necesidad de desplazarte físicametne ni perder tiempo en reuniones innecesarias</span>
          </span>
          <span class="item">
            <i class="icono fa fa-magic" aria-hidden="true"></i>
            <span class="titulo">Cómodo y práctico</span>
            <span class="explicacion">Para contactar con tu asesor solo necesitas tener conexión a Internet. Bastará con una videollamada para celebrar una reunión</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>