<aside class="callout tipo2">
  <div class="overlay"></div>
  <div class="container">
    <span class="texto wow fadeIn">
      <i class="comillas fa fa-quote-left" aria-hidden="true"></i>
      ¿Sabías que la administración sólo admite facturas electrónicas? Los cambios llegan demasiado deprisa y es nuestra obligación que estar preparados para afrontarlos. <strong>Aprosan</strong> es tu gestoría online, siempre al día para ti. Te mantendremos informado de cada novedad que pudiera suceder.
    </span>
  </div>
</aside>